:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 80px; 
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 20px; 
}



/* ----------------------------------- Carrusel ----------------------------------- */

.carousel-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 900px;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }
}

/* ----------------------------------- Tarjetas ----------------------------------- */

.tarjetas-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px; 
  margin-bottom: 30px; 
  flex-wrap: wrap; 
}

/* Estilo de cada tarjeta */
.card {
  width: 300px; 
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
}

/* ----------------------------------- Ajustes Responsivos ----------------------------------- */

@media (max-width: 768px) {
  .carousel {
    width: 90%;
  }

  .carousel-inner img {
    height: 200px;
  }

  .tarjetas-container {
    flex-direction: column;
    align-items: center;
  }

  
  .card {
    width: 90%; 
  }
}


/* ----------------------------------- Formulario de Reservación ----------------------------------- */

.reservacion-container {
  width: 70%;
  max-width: 1000px;
  margin: 100px auto;
  padding: 30px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}



.reservacion-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 14px;
}

.form-group {
  margin-bottom: 20px;
}


.citas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  text-align: center;       
  padding-top: 120px; 
}

.citas-container h1 {
  margin-bottom: 30px; 
}

.reservacion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  padding: 40px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-direction: column;
}
