.formulario-container {
    max-width: 400px; 
    margin: 100px auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Personalización de los inputs */
  .form-control {
    border-radius: 5px;
  }
  
  /* Personalización del botón */
  .btn-primary {
    background-color: #646cff;
    border: none;
    transition: background 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #535bf2;
  }
  